body {
  background-image: url('../images/bgimg.jpg'); 
  background-size: 1500px 10000px;
}

h1 {
  font-family: verdana;
  font-size: 350%;
  color: red;
  text-align: center;
  border: 2px solid Tomato;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: LightGray;
}

li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 28px;
  padding: 20px 20px;
  text-decoration: none;
}
  
li a:hover:not(.active) {
  background-color: DodgerBlue;
}
  
.active {
  background-color: none;
}

li {
  float: left;
}

.p1 {
  font-family: Arial Black, Gadget, sans-serif;
  text-align: left; 
  color: DarkOrange; 
  font-size: 30px;
}

.p2 {
  font-family: Arial Black, Gadget, sans-serif;
  text-align: center; 
  color: DarkOrange; 
  font-size: 30px;
}

.desby {
  font-family: Arial Black, Gadget, sans-serif;
  text-align: right; 
  color: purple; 
  font-size: 30px;
}

.p3 {
  font-family: verdana;
  font-size: 100%;
  color: red;
}

.p3:a {
  color:red;
}

.p4 {
  font-family: Arial Black, Gadget, sans-serif;
  text-align: center;
  color: DarkOrange; 
  font-size: 30px;
}

.p5 {
  font-family: Arial Black, Gadget, sans-serif;
  text-align: center; 
  color: DeepSkyBlue; 
  font-size: 30px;
}

.p6 {
  font-family: Arial Black, Gadget, sans-serif;
  text-align: center; 
  color: DodgerBlue; 
  font-size: 30px;
}

h3 {
  text-align: center;
	color: DodgerBlue;
	font-size: 300%;
	font-family: Arial Black;
	border: 2px solid #FFFF00;
}

td {
  color: orange; 
  font-family: castellar;
}